@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-size: 16px;
  }

  h1 {
    @apply text-5xl;
    font-family: "Open Sans", sans-serif;
  }

  h2 {
    @apply text-gura_main;
    font-size: 44px;
    line-height: 1.5rem;
    font-family: "Open Sans", sans-serif;
  }

  h3 {
    @apply text-3xl text-gura_main;
    font-family: "Open Sans", sans-serif;
  }

  h4 {
    @apply text-2xl;
    font-family: "Open Sans", sans-serif;
    user-select: none;
    /* 'Open Sans', sans-serif */
  }

  h5 {
    @apply text-white;
    font-size: 16px;
    line-height: 1.5rem;
    font-family: "Open Sans", sans-serif;
  }

  /* for descriptions */
  h6 {
    @apply text-gray-400;
    font-size: 14px;
    line-height: 1.5rem;
  }

  label {
    @apply text-white;
    font-size: 15px;
    line-height: 1.5rem;
  }

  /* for form style*/
  .form-input {
    @apply bg-slate-800 border-b-2 p-1 mt-2;
    @apply border-dotted;
  }

  input[type="text"],
  input[type="email"] {
    @apply text-gray-400;
    width: 50%;
  }

  textarea {
    @apply text-gray-400;
    width: 80%;
    height: 20rem;
  }

  input,
  textarea:focus {
    outline: none;
  }

  .h6_black {
    font-size: 14px;
    line-height: 1.5rem;
  }

  .info-text div h6,
  label {
    display: inline-block;
  }

  .info-text div label {
    width: 33%;
  }

  .menu-item div {
    @apply px-5 py-5 text-3xl;
  }

  .menu-item div:hover {
    @apply cursor-pointer bg-slate-700 duration-200;
  }

  .canvas div {
    @apply absolute top-0 duration-200;
  }

  .collapse-item {
    @apply pl-2 p-1;
    font-size: 1rem;
  }

  .collapse-item:hover {
    text-decoration: underline;
  }

  .blog-item-title > u {
    text-decoration: none;
  }

  .blog-item-title:hover {
    @apply text-blue-950 cursor-pointer;
  }

  .sidebar-item {
    @apply p-2 pl-4;
  }

  .sidebar-item:hover {
    @apply cursor-pointer text-gray-300;
  }

  .mx-works:hover {
    @apply cursor-pointer;
    filter: brightness(50%);
  }
}
